{% extends 'manage/index.html' %}
{% block manage_content %}
<div style="" class="main-content">
    {% include 'manage/partials/search.html'%}
    <div class="display-flex justify-content-space-between" style="margin-top: 20px;">
      <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Experts</h2>
      <a href="/ajouter/expert" title="Ajouter un expert" class="button is-primary is-small"><i class="fas fa-user-plus"></i></a>
    </div>

    <section class="tile" style="margin-top: 10px;">
        <div class="box" style="  width: -webkit-fill-available;">
          <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
            <span><i class="fa fa-users"></i></span>
            
          </div>
          <div class="table-container" style="overflow-x: scroll;position: relative;">
            {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {%for category,message in messages%}
                    <div class="alert alert-{{category}} p-1">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table class="table is-hoverable is-striped" id="table_id" style="overflow-x: scroll;min-width: 800px;">  
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nom et prenom</th>
                        <th scope="col">Type</th>
                        <th scope="col">Email</th>
                        <th>Email Perso</th>
                        <th scope="col">Numero</th>
                        <th scope="col">Trigramme</th>
                        <th scope="col">Siret</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Actif/Parti</th>
                        <th>Code TVA</th>
                        <th>Taux de TVA</th>
                        <th>Secteur</th>
                        <th>Type de certification</th>
                        <th>Date de certification initial</th>
                        <th>Date de recertification</th>
                        <th scope="col">Adresse1</th>
                        <th scope="col">Adresse2</th>
                        <th scope="col">CP</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Pays</th>
                        <th scope="col">Login Backof</th>
                        <th scope="col">Pwd Backof</th>
                        <th>Login Extranet</th>
                        <th scope="col">Pwd extranet</th>
                        <th>Pwd Gsuite</th>
                        <th>Login Tablette</th>
                        <th>Pwd Backof</th>
                        <th scope="col">Observations de suivi</th>
                        <th>Date d'entrée</th>
                        <!-- <th>Date de sortie</th> -->
                        <th></th>
                        <th></th> 
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for expert,history in Expert %}
                            <tr>
                                <th scope="row">{{expert.id}}</th>
                                <td>{{expert.TITRE}} {{expert.nom}}</td>
                                <td>{{expert.TYPE}}</td>
                                <td>{{expert.email}}</td>
                                <td>{{expert.email_perso}}</td>
                                <td>{{expert.numero}}</td>
                                <td>{{expert.trigramme}}</td>
                                <td>{{expert.siret}}</td>
                                <td>{{expert.genre}}</td>
                                <td>{{history.actif_parti}}</td>
                                <td>{{expert.code_tva}}</td>
                                <td>{{expert.taux_tva}}</td>
                                <td>{{history.secteur}}</td>
                                <td>{{history.type_certification}}</td>
                                <td>{{history.date_certiation_initial}}</td>
                                <td>{{history.date_renouv_certification}}</td>
                                <td>{{history.adresse1}}</td>
                                <td>{{history.adresse2}}</td>
                                <td>{{history.cp}}</td>
                                <td>{{history.ville}}</td>
                                <td>{{history.pays}}</td>
                                <td>{{history.login_backof}}</td>
                                <td>{{history.pwd_backof}}</td>
                                <td>{{history.login_extranet}}</td>
                                <td>{{history.pwd_gsuite}}</td>
                                <td>{{history.login_google}}</td>
                                <td>{{history.pwd_google}}</td>
                                <td>{{history.pwd_extranet}}</td>
                                <td>{{history.observations_de_suivi}}</td>
                                <td>{{expert.date_entree.strftime('%d. %m. %Y')}}</td>
                               
                                <td><a href="{{url_for('users.edit_expert', id=expert.id)}}" class="button is-outlined-black is-small is-fullwidth center"><i class="fa fa-pen"></i></a></td>
                                <td style="">
                                    <a href="{{url_for('users.show_expert', id=expert.id)}}" title="voir tout les details" class="button is-small is-primary is-fullwidth" style="text-align: center"><i class="fa fa-eye"></i></a>
                                    
                                </td>
                                <!-- <td><a href="#" class="button center is-primary is-small"><i class="fa fa-eye"></i></a></td> -->
                                <td> <a href="{{url_for('users.delete_expert', id=expert.id)}}" onclick="return confirm('Voulez vous supprimer?')" title="supprimer" class="center is-small is-danger is-fullwidth button"><i class="fa fa-trash"></i></a></td>   
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
	            </div>
                 <!-- Pagination Links-->
              
            <!--end of pagination -->
	        </div>
	    </div>
	</div>
    <!-- Pie Chart --> 
</div>

    <!-- Content Row -->
</div>
{% endblock %}