{% extends 'manage/index.html' %} {% block manage_content %}
<div style="" class="main-content">

    <div class="display-flex justify-content-space-between" style="margin-top: 20px; margin-bottom: 10px">
        <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Facture Libre N°
        </h2>

    </div>
    <div class="tile is-ancestor is-vertical">
        <div class="tile is-horizontal is-parent">
            <div class="tile is-child box">
                <h1 class="title is-5">FACTURER A :</h1>
                <hr/>
                <ul>
                    <li><strong>Reference du donneur d'ordre:</strong></li>
                    <li><strong>Raison Social:</strong> </li>
                    <li><strong>Numero Siret :</strong> </li>
                    <li><strong>Numero TVA:</strong> </li>
                </ul>
            </div>
            <div class="tile is-child box">
                <h1 class="title is-5">Identité donneur d'Ordre</h1>
                <hr/>
                <ul>
                    <li><strong>Civilité:</strong>
                    </li>
                    <li><strong>Nom & Prenom:</strong>
                    </li>
                    <li><strong>Telephone:</strong> </li>
                    <li><strong>Email :</strong></li>
                </ul>
            </div>
        </div>
        <div class="tile is-parent is-horizontal">
            <div class="tile is-child box">
                <h1 class="title is-5">ADRESSE</h1>
                <hr/>
                <ul>
                    <li>
                        <strong>Numero & Nom de la voie :</strong>
                    </li>
                    <li><strong>Code postal:</strong></li>
                    <li><strong>Ville:</strong> </li>

                </ul>
            </div>
            <div class="tile is-child box">
                <h1 class="title is-5">STATUS PAIEMENT</h1>
                <hr/>
                <ul>
                    <li><strong>Mode de paiement:</strong></li>
                    <li><strong>Date de paiement :</strong></li>
                    <li><strong>Delai de paiement :</strong></li>

                </ul>
            </div>
        </div>
        <br><br>

        <h1>
            <center> <strong> EDL REALISEE A VOTRE DEMANDE</strong></center>
        </h1>
        <div class="tile is-parent is-horizontal">

            <div class="tile is-child box">
                <table border="1px solid black" style="width: 800px; margin-left: auto; margin-right: auto">

                    <tr>
                        <th> Ref Commande</th>
                        <th> Description</th>
                        <th>Quantité </th>
                        <th> Prix Unitaire € HT </th>
                        <th> Montant € </th>
                    </tr>
                    <tr>
                        <td>00000</td>
                        <td>000000</td>
                        <td>000000</td>
                        <td>000000 </td>
                        <td>000000 </td>
                    </tr>

                    <tr>
                        <td rowspan="3" colspan="3"></td>
                        <td><strong>Montant Total € HT</strong> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>Taxe en % </strong> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>Montant Total € en TTC  </strong> </td>
                        <td> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}