{% extends 'manage/index.html'%} {% block manage_content %}
<div style="" class="main-content">
    <div class="display-flex justify-content-space-between" style="margin-top: 20px; margin-bottom: 10px">
        <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.25rem;">Listes Factures</h2>
    </div>
    <section class="tile" style="margin-top: 10px;">
        <div class="box" style="  width: -webkit-fill-available; width: 100%;">
            <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
                <span><i class="fas fa-file-invoice"></i></span>

            </div>
            <div class="table-container" style="overflow-x: scroll;position: relative;">
                {% with messages = get_flashed_messages(with_categories=true)%} {% if messages %} {%for category,message in messages%}
                <div class="alert alert-{{category}}">
                    {{message}}
                </div>
                {% endfor %} {% endif %} {% endwith %}
                <table class="table is-striped" id="table_id" style="overflow-x: scroll;min-width: 800px; ">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Numero Facture</th>
                            <th scope="col">societe du Bailleur</th>
                            <th scope="col">nom du Bailleur</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Date</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for data in facture %}
                        <tr>
                            <th scope="row">{{data.id}}</th>
                            <td>{{data.n_facture}}</td>
                            <td>{{data.client__data_.societe}}</td>
                            <td>{{data.client__data_.nom}}</td>
                            <td>{{data.Montant_HT}}</td>
                            <td>{{data.Date_de_creation.strftime('%d. %m. %Y')}}</td>
                            <td style="">
                                <a href="{{url_for('users.show_fac', id=data.id)}}" title="voir tout les details" class="button is-small is-primary is-fullwidth" style="text-align: center"><i class="fa fa-eye"></i></a>
                                
                            </td>
                            <td>
                                <a href="{{url_for('fact_a.linkavoir', id=data.id)}}"  title="Creer avoir" class="cb button is-outlined-black is-small is-fullwidth"><i class="fa fa-pen" style="text-align: center"></i></a>
                            </td> 
                        
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </section> 
</div>
<!-- <script type="text/javascript">
    $(document).ready(function() {
        var table = $('#table_id').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.2/i18n/fr_fr.json'
            }
        });

        $('#table_id tbody').on('click', 'tr', function() {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#button').click(function() {
            table.row('.selected').remove().draw(false);
        });
    });
</script> -->

{%endblock manage_content%}