{% extends 'manage/index.html'%}
{% block manage_content %}
<div style="" class="main-content">
    {% include 'manage/partials/search.html'%}
    <div class="display-flex justify-content-space-between" style="margin-top: 20px;">
      <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Missions</h2>
      <a href="/ajouter/mission" class="button is-primary is-small" title="Ajouter une mission"><i class="fa fa-plus"></i></a>
    </div>

    <section class="tile" style="margin-top: 10px;">
        <div class="box" style="  width: -webkit-fill-available;">
          <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
            <span><i class="fa fa-users"></i></span>
          </div>
          <div class="table-container" style="overflow-x: scroll;position: relative;">
            {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {%for category,message in messages%}
                    <div class="alert alert-{{category}} p-1">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table class="table" id="table_id" style="overflow-x: scroll;min-width: 800px;"> 
	                    <thead class="">
	                	<tr>    <th scope="col">ID</th>
                            <th scope="col">Reference BAILLEUR</th>  	 
                            <th scope="col">ID CONCESS</th>	  
                            <th scope="col">DATE EDL REALISE</th>  	
                            <th scope="col">PRIX HT EDL</th>	  	     	
                            <th scope="col">DATE FACTURE</th>  	  		
                            <th></th>	
                            <th></th>
                            <th></th>
	                	</tr>
	            	</thead>
		            <tbody>
		                {%for mission_ in Mission %}
		                    <tr>    
                                <td>{{mission_.id}}</td> 
                                <td>{{mission_.Bailleur__data.reference}}</td>     	   
                                <td>{{mission_.AS__data.nom}}</td> 	  
                                <td>
                                  {% if mission_.DATE_REALISER_EDL != None %}     {{mission_.DATE_REALISE_EDL.strftime('%d. %m. %Y') }}
                                  {% else %}
                                  aucune date
                                  {% endif %}
                                </td>  	
                                <td>
                                  {% if mission_.PRIX_HT_EDL == None %}
                                    aucune date
                                  {% else %}
                                    {{ mission_.PRIX_HT_EDL }}
                                  {% endif %}               
                                </td> 	    
                                <td>
                                  {% if mission_.DATE_FACTURE == None %}
                                    aucune date
                                  {% else %}
                                    {{ mission_.DATE_FACTURE }}
                                  {% endif %}                              
                                </td>   	 	  	  
                                <td><a href="{{url_for('users.edit_mission', id=mission_.id)}}" class=" is-small is-outlined-black is-fullwidth button"><i class="fa fa-pen"></i></a></td>	 
                                <td> <a href="{{url_for('users.delete_mission', id=mission_.id)}}" onclick="return confirm('Voulez vous supprimer?')" title="supprimer" class=" is-small is-danger is-fullwidth button"><i class="fa fa-trash"></i></a></td>
                                <td style="">
                                    <a href="{{url_for('users.show_mission', id=mission_.id)}}" title="voir tout les details" class="button is-small is-primary is-fullwidth" style="text-align: center"><i class="fa fa-eye"></i></a>
                                    
                                </td>
		                    </tr>
		                {%endfor%}                               
		            </tbody>         
	             </table>
	            </div>
                 <!-- Pagination Links-->
              
            <!-- / fin de la pagination -->
	        </div>
        </section>
	    </div>
{% endblock %}