{% extends 'manage/index.html' %}
{% block manage_content %}
	<div style="" class="main-content">
	    {% include 'manage/partials/search.html'%}
	    <div class="display-flex justify-content-space-between" style="margin-top: 20px;">
	        <h2 class="title" style="color: #112A46;font-weight: 700;">Profile</h2>      
	    </div>

            <section class="tile" style="margin-top: 30px;">
                <div class="box" style="  width: -webkit-fill-available;">
                  <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
                    <span><i class="fa fa-user"></i></span>
                    <div class="control has-icons-left has-icons-right">
                      <a onclick="window.history.back()" class="button is-danger is-small">Annuler</a>
                    </div>
                  </div>
                  <div class="tile is-ancestor">
                    <div class="tile is-parent">
                          <div class="card tile is-child" style="padding: 0%;">
                            <header class="card-header"><p class="card-header-title">
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <span style="font: small-caption;">Modifier le profile</span>
                                </p><!---->
                            </header>
                            <div class="card-content">
                                <form>
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Avatar</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field"><!---->
                                                <div class="field file"><!---->
                                                    <label class="upload control">
                                                        <a class="button is-primary is-small"><span class="icon"><i class="fas fa-upload"></i>
                                                        </span><span>Pick a file</span></a>
                                                        <input type="file">
                                                    </label><!----><!---->
                                                </div><!----></div>
                                            </div><!----></div>
                                            <hr>
                                            <div class="field is-horizontal">
                                                <div class="field-label is-normal">
                                                    <label class="label">Nom</label></div>
                                                    <div class="field-body"><div class="field"><!---->
                                                        <div class="control">
                                                            <input type="text" autocomplete="on" name="name" required="required" class="input">
                                                            <!----><!----><!----></div><p class="help"> Obligatoire. Votre nom <!---->
                                                            </p>
                                                        </div>
                                                        </div><!----></div>
                                                        <div class="field is-horizontal">
                                                            <div class="field-label is-normal">
                                                                <label class="label">E-mail</label></div>
                                                                <div class="field-body"><div class="field"><!---->
                                                                    <div class="control">
                                                                        <input type="email" autocomplete="on" name="email" required="required" class="input"><!----><!----><!---->
                                                                    </div>
                                                                    <p class="help"> Obligatoire. Votre nom <!----></p>
                                                                </div>
                                                            </div><!---->
                                                        </div>
                                                        <hr>
                                                        <div class="field is-horizontal">
                                                            <div class="field-label is-normal"><!---->
                                                            </div>
                                                            <div class="field-body">
                                                                <div class="field"><!---->
                                                                    <div class="control">
                                                                        <button type="submit" class="button is-primary is-small"> Modifier </button>
                                                                    </div><!---->
                                                                </div>
                                                            </div>
                                                            <!---->
                                                        </div>
                                                    </form>
                                                </div>
                                                    </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="card tile is-child" style="padding: 0px;">
                            <header class="card-header-title">
                                <p class="card-header-title">
                                    <span class="icon"><i class="fa fa-user"></i></span>
                                    <span style="font: small-caption;">Profile</span></p>
                            </header>
                            <div class="card-header" style="box-shadow: none;">
                                <div class="is-user-avatar has-max-width is-aligned-center" style="width: 25%;
                                height: auto;
                                margin-left: auto;
                                margin-right: auto;
                                max-width: 7rem;">
                                    <img src="https://avatars.dicebear.com/api/avataaars/example.svg?options[top][]=shortHair&amp;options[accessoriesChance]=93" alt="John Doe">
                                </div>
                            </div>
                                <hr>
                                <div>
                                <div class="field"><label class="label" style="font-weight: 100; text-align:center;">Nom et Prénom</label>
                                    <div class="control is-clearfix">
                                        <p style="font: small-caption; text-align: center;">John Deo</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="field"><label class="label" style="font-weight: 100; text-align:center;">E-mail</label>
                                    <div class="control is-clearfix">
                                        <p style="font: small-caption; text-align: center;">johndoe@gmail.com</p><!----><!----><!---->
                                </div><!----></div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="table-container" style="">
                    <div class="card" style="box-shadow: none; padding: 0px; border: 1px solid #d4d4cc;">
                        <header class="card-header" style="border-bottom: 1px solid #d4d4cc; box-shadow:none;"><p class="card-header-title"><span class="icon"><i class="fas fa-lock"></i></span><span>Changer le mot de passe</span></p><!----></header>
                      <form class="" style="margin-top: 50px; padding: 5px;">
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label" style="text-align: left;"><small>Votre mot de passe actuel</small></label></div>
                            <div class="field-body">
                              <div class="field"><!---->
                              <div class="control">
                                <input type="password" autocomplete="on" name="password_current" required="required" autcomplete="current-password" class="input">
                                <!----><!----><!----></div>
                                <p class="help"> Requis. Votre mot de passe actuel 
                                  <!----></p>
                                </div>
                              </div><!---->
                            </div>
                            <hr>
                            <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                <label class="label" style="text-align: left;"><small>Nouveau mot de passe</small></label>
                              </div>
                              <div class="field-body">
                                <div class="field"><!---->
                                  <div class="control">
                                    <input type="password" autocomplete="new-password" name="password" required="required" class="input">
                                    <!----><!----><!----></div><p class="help"> Requis. Nouveau mot de passe <!----></p>
                                  </div>
                                </div><!---->
                              </div>
                              <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label" style="text-align: left;"><small>Confirmer le mot de passe</small></label></div>
                                  <div class="field-body">
                                    <div class="field"><!---->
                                      <div class="control">
                                        <input type="password" autocomplete="new-password" name="password_confirmation" required="required" class="input">
                                        <!----><!----><!----></div>
                                        <p class="help"> Requis. Nouveau mot de passe une fois de plus <!----></p>
                                      </div>
                                    </div><!---->
                                  </div><hr>
                                  <div class="field is-horizontal">
                                    <div class="field-label is-normal"><!----></div>
                                        <div class="field-body">
                                          <div class="field"><!---->
                                            <div class="control">
                                              <button type="submit" class="button is-primary is-small"> Modifier </button>
                                            </div><!---->
                                          </div>
                                        </div><!---->
                      </div></form>
                    </div>
                  </div>
                </div> 
            </section>
{%endblock%}