{% extends 'manage/index.html' %}
{% block manage_content %}
<div style="" class="main-content">
    {% include 'manage/partials/search.html'%}
    <div class="display-flex justify-content-space-between" style="margin-top: 20px; margin-bottom: 10px">
      <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Expert</h2>
    </div>
 	<section class="tile" style="margin-top: 10px;">
    <div class="box" style="  width: -webkit-fill-available;">
      <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
     
        	<span><i class="fas fa-user"></i></span>
     
        <div class="control has-icons-left has-icons-right">
         	AS AC AP: {{expert.TYPE}}
        </div>
      </div>
      <div class='columns'>
	  <div class='container'>
	    <div class='section profile-heading'>
	      <div class='columns is-mobile is-multiline'>
	        
	        <div class='column is-6-tablet is-10-mobile name'>
	          <p>
	            <span class='title is-bold' style="font-size: larger;">{{expert.nom}}</span>
	            <br>
	            <a class='button is-primary is-small' href="{{url_for('users.edit_expert', id=expert.id)}}" id='edit-preferences' style='margin: 5px 0'>
	              Modifier
	            </a>
	            <br>
	          </p>
	        
	             <p class='tagline'>
	          <strong>Adresse:</strong> {{history.adresse1}}, <br/>
			  <strong>CP:</strong> {{history.cp}}, <br/>
			  <strong>Ville:</strong> {{history.ville}}, <br/>
			  <strong>Pays:</strong> {{history.pays}}, <br/> 
	          </p>
	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	          <strong><p class='stat-val'><strong>Tel</strong></p></strong>
	          <p class='stat-key'>{{expert.numero}}</p>
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Siret</p></strong>
	          	<p class='stat-val'>{{expert.siret}}</p>	          
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Email</p></strong>
	          	<p class='stat-val'>{{expert.email}}</p>	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Email perso</p></strong>
	          	<p class='stat-val'>{{expert.email_perso}}</p>	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>actif/parti</p></strong>
	          	<p class='stat-val'>{{history.actif_parti}}</p>	         
	        </div>
	         <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Secteur</p></strong>
	          	<p class='stat-val'>{{history.secteur}}</p>	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Trigramme</p></strong>
	          	<p class='stat-val'>{{expert.trigramme}}</p>	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Code Tva</p></strong>
	          	<p class='stat-val'>{{expert.code_tva}}</p>	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	        	<strong><p class='stat-key'>Taux Tva</p></strong>
	          	<p class='stat-val'>{{expert.taux_tva}}</p>	         
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Login Backof</strong></p>
				<p class='stat-val'>{{history.login_backof}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Pwd backof</strong></p>
				<p class='stat-val'>{{history.pwd_backof}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Login Extranet</strong></p>
				<p class='stat-val'>{{history.login_extranet}}</p>
				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>MDP Extranet</strong></p>
				<p class='stat-val'>{{history.pwd_extranet}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Login Google</strong></p>
				<p class='stat-val'>{{history.login_google}}</p>
				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>MDP Google</strong></p>
				<p class='stat-val'>{{history.pwd_google}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>MDP Gsuite</strong></p>
				<p class='stat-val'>{{history.pwd_gsuite}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Observations de suivi</strong></p>
				<p class='stat-val'>{{history.observations_de_suivi}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Type de certification</strong></p>
				<p class='stat-val'>{{history.type_certification}}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Date de certification initial</strong></p>
				<p class='stat-val'>{% if history.date_certification_initiale == '' or None %}

					{% else %}
			 			{{history.date_certification_initiale.strftime('%d. %m. %Y')}}
			 		{%endif%}
			</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Date de recertification </strong></p>
				<p class='stat-val'> {% if history.date_renouv_certification == '' or None %}
					{% else %}
						{{history.date_renouv_certification.strftime('%d. %m. %Y')}}
             		{%endif%}</p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Date d'entree</strong></p>
				<p class='stat-val'> 
             {{expert.date_entree.strftime('%d. %m. %Y')}}
             </p>				
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-key'><strong>Date de sortie</strong></p>
				<p class='stat-val'> {% if history.date_sortie == '' or None %}
             {{history.date_sortie.strftime('%d. %m. %Y')}}
             {%endif%}</p>				
			</div>
	      </div>

	      <div>
	      	
	
		
			
			<strong>Genre:</strong> {{expert.genre}}<br> 
			
	    	<strong>Adresse2 :</strong> <small>{{history.adresse2}}</small> <br> 
           
			<strong>date_historique:</strong> {{history.date.strftime('%d. %m. %Y')}}<br>
            
           
            
         </p>	
            
	      </div>

	    </div>
	  </div>
	</div>
				
		</div>
	</section>
</div>
{%endblock%}
	