{% extends 'manage/index.html' %}
{% block manage_content %}
<div style="" class="main-content">
    {% include 'manage/partials/search.html'%}
    <div class="display-flex justify-content-space-between" style="margin-top: 20px; margin-bottom: 10px">
      <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Client</h2>
    </div>
	<section class="tile" style="margin-top: 10px;">
    <div class="box" style="  width: -webkit-fill-available;">
      <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
        <span><i class="fas fa-user"></i></span>
        <div class="control has-icons-left has-icons-right">
         	{{client.TYPE}}
        </div>
      </div>
      <div class='columns'>
	  <div class='container'>
	    <div class='section profile-heading'>
	      <div class='columns is-mobile is-multiline'>
	        <div class='column is-5 is-6-tablet is-10-mobile name'>
	          <p>
	            <span class='title is-bold' style="font-size: larger;">{{client.nom}}</span>
	            <br>
	            <a class='button is-primary is-small' href="{{url_for('users.edit_client', id=client.id)}}" id='edit-preferences' style='margin: 5px 0'>
	              Modifier
	            </a>
	            <br>
	          </p>
	          <p class='tagline'>
	          <strong>Adresse:</strong> {{history.adresse1}}, <br/> {{history.cp}} {{history.ville}}, {{history.pays}}
	          </p>
	          
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	          <p class='stat-val'><strong>Tel</strong></p>
	          <p class='stat-key'>{{client.numero}}</p>
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	          <p class='stat-val'><strong>Siret</strong></p>
	          <p class='stat-key'>{{client.siret}}</p>
	        </div>
	        <div class='column is-2-tablet is-4-mobile has-text-centered'>
	          <p class='stat-val'><strong>Email</strong></p>
	          <p class='stat-key'>{{client.email}}</p>
	        </div>
			<div class='column is-12-tablet is-12-mobile'>
				<p class='stat-val'><strong>Société</strong></p>
				<p class='stat-key'>{{client.societe}}</p>
			</div>
			<!-- <div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{client.titre}}</p>
				<p class='stat-key'>Titre</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{client.siret}}</p>
				<p class='stat-key'>Siret</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{history.cp}}</p>
				<p class='stat-key'>CP</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{history.login_extranet}}</p>
				<p class='stat-key'>Login Extranet</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{history.mpd_extranet}}</p>
				<p class='stat-key'>MDP Extranet:</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{client.societe}}</p>
				<p class='stat-key'>Societe</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{client.societe}}</p>
				<p class='stat-key'>Societe</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{history.ville}}</p>
				<p class='stat-key'>Ville</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{history.pays}}</p>
				<p class='stat-key'>Pays</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{tarif.id}}</p>
				<p class='stat-key'>ID_Tarif</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{tarif.referent__data.nom}}</p>
				<p class='stat-key'>AS</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{history.date|string|truncate(13, True)}}</p>
				<p class='stat-key'>Date historique:</p>
			</div>
			<div class='column is-2-tablet is-4-mobile has-text-centered'>
				<p class='stat-val'>{{client.date_creation|string|truncate(13, True)}}</p>
				<p class='stat-key'>Date_creation:</p>
			</div> -->
	      </div>
	    </div>
	  </div>
	</div>
	{% if legend == "client" %}
		<div class="columns">
		  	<div class="column">
		  		<a href="{{url_for('users.suivi_client_', id=client.id)}}" style="color: #fff; background: #073B3A;" title="modifier" class="button is-small is-fullwidth">Voir Suivi</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.ajouter_suivic', id=client.id)}}" style="color: #fff; background: #0B6E4F;" title="modifier" class="button is-small is-fullwidth">Créer un Suivi</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.ajouter_negotiateur', id=client.id)}}" style="color: #fff; background: #DDB771;" title="modifier" class="button is-small is-fullwidth">Créer un Négociateur</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.negotiateur', id=client.id)}}" style="color: #fff; background: #023047;" title="modifier" class="button is-small is-fullwidth">Voir ses Négociateurs</a>
		  	</div>
		</div>
		<div class="columns">
			<div class="column">
		  		<a href="{{url_for('users.ajouter_tarif', id=client.id)}}" style="color: #fff; background: #219EBC;" title="modifier" class="button is-small is-fullwidth">Ajouter un Tarif</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.client_mission', id=client.id)}}" style="background: #6B705C; color: #fff;" title="modifier" class="button is-outlined-black is-small is-fullwidth">Voir ses Missions</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.tarifs', id=client.id)}}" title="modifier" style="background: #03071E; color: #fff;" class="button is-outlined-black is-small is-fullwidth">Voir ses Tarifs</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.facturation', id=client.id)}}" title="modifier" style="background: #795a64; color: #fff;" class="button is-outlined-black is-small is-fullwidth">Voir ses Factures</a>
		  	</div>
		</div>
	{% endif %}

	{% if legend == "prospect" %}
		<div class="columns">
			<div class="column">
		  		<a href="{{url_for('users.suivi_prospect_', id=client.id)}}" title="modifier" class="button is-outlined-black is-small is-fullwidth">Voir Suivi</a>
		  	</div>
		  	<div class="column">
		  		<a href="{{url_for('users.ajouter_suivip', id=client.id)}}" title="modifier" class="button is-outlined-black is-small is-fullwidth">Cree Suivi</a>
		  	</div>
		</div>
	{% endif %}			
		</div>
	</section>
</div>
{%endblock%}