{% extends 'manage/index.html' %}
{% block manage_content %}
 <div style="" class="main-content">
    {% include 'manage/partials/search.html'%}
    <div class="display-flex justify-content-space-between" style="margin-top: 20px;">
      <h2 class="title" style="color: #112A46;font-weight: 500; font-size: 1.5rem;">Prospect</h2>
      <a href="/ajouter/prospect" class="button is-primary is-small"><i class="fas fa-user-plus"></i></a>
    </div>
     <section class="tile" style="margin-top: 10px;">
        <div class="box" style="  width: -webkit-fill-available;">
          <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
            <span><i class="fa fa-users"></i></span>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-small is-rounded" type="text" placeholder="Rechercher  ">
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>  
              </span>
            </div>
          </div>
          <div class="table-container" style="overflow-x: scroll;position: relative;">
             {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {%for category,message in messages%}
                    <div class="alert alert-{{category}} p-1">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <table class="table is-striped" style="overflow-x: scroll;min-width: 800px;">
             <thead class="">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Type</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tel</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>                    
            <tbody>
                {%for client_ in Client.items %}
                    <tr>
                        <th scope="row">{{client_.id}}</th>
                        <td>{{client_.reference}}</td>
                        <td>{{client_.TYPE}}</td>
                        <td> {{client_.nom | truncate(10, True)}}</td>
                        <td>{{client_.email | truncate(10, True)}}</td>
                        <td>{{client_.numero}}</td>
                        <td> <a href="{{url_for('users.edit_prospect', id=client_.id)}}" title="modifier" class="button is-outlined-black is-small is-fullwidth"><i class="fa fa-pen" style="text-align: center"></i></a> </td>
                        <td style="">
                            <a href="{{url_for('users.show_prospect', id=client_.id)}}" title="voir tout les details" class="button is-small is-primary is-fullwidth" style="text-align: center"><i class="fa fa-eye"></i></a>
                        </td>   
                         <td> <a href="{{url_for('users.delete_prospect', id=client_.id)}}" onclick="return confirm('Voulez vous supprimer?')" title="voir tout les details" class=" is-small is-danger is-fullwidth button"><i class="fa fa-trash"></i></a></td> 
                    </tr>    
                {%endfor%}
            </tbody>
          </table>
          </div>
          <!-- Pagination Links-->
          <div style="display: flex; justify-content: space-between;">
             <p class="text-right mt-3">
               Showing page {{ Client.page }} of {{ Client.pages }}
            </p>        
            <div class="text-right pagination">
                <a href="{{ url_for('users.prospect_', page=Client.prev_num) }}"
                   class="btn btn-outline-dark 
                   {% if Client.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
            <!-- Loop through the number of pages to display a link for each-->
                {% for page_num in Client.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
                        {% if Client.page == page_num %}
                        <a href="{{ url_for('users.prospect_', page=page_num) }}"
                           class="is-current pagination-link">
                            {{ page_num }}
                        </a>
                        {% else %}
                        <a href="{{ url_for('users.prospect_', page=page_num) }}"
                           class="btn pagination-link">
                            {{ page_num }}
                        </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                <a href="{{ url_for('users.prospect_', page=Client.next_num) }}"
                   class="btn btn-outline-dark 
                   {% if Client.page == Client.pages %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
           
        </div>
        </div>                  
    </section>
</div>
{% endblock %}